/Preparatoria_1erParcial/nbproject/private/
/Preparatoria_1erParcial/build/
/Preparatoria_1erParcial/dist/
/JavaFX_XML/nbproject/private/
/EstructuraJavaFX01/nbproject/private/
/EstructuraJavaFX01/build/
/FX_CRUD/nbproject/private/
